<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NgiShipmentInterfaceServicesBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="NgiShipmentInterfaceServicesBinding1" />
                <binding name="WsReportWithReferenceServicesBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="WsReportWithReferenceServicesBinding1" />
                <binding name="ShippingOrderDispatcherServicesBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.yurticikargo.com/KOPSWebServices/NgiShipmentInterfaceServices"
                binding="basicHttpBinding" bindingConfiguration="NgiShipmentInterfaceServicesBinding"
                contract="Yurtici.NgiShipmentInterfaceServices" name="NgiShipmentInterfaceServicesPort" />
            <endpoint address="https://ws.yurticikargo.com/KOPSWebServices/WsReportWithReferenceServices"
                binding="basicHttpBinding" bindingConfiguration="WsReportWithReferenceServicesBinding"
                contract="YurticiInfo.WsReportWithReferenceServices" name="WsReportWithReferenceServicesPort" />
            <endpoint address="http://webservices.yurticikargo.com:8080/KOPSWebServices/ShippingOrderDispatcherServices"
                binding="basicHttpBinding" bindingConfiguration="ShippingOrderDispatcherServicesBinding"
                contract="ServiceReference1.ShippingOrderDispatcherServices"
                name="ShippingOrderDispatcherServicesPort" />
        </client>
    </system.serviceModel>
</configuration>